.boeren-info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-background);
    border-radius: 1rem 1rem 0 0;
    height: 80vh;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

.boeren-info.open {
    transform: translateY(0);
}

.boeren-info-inhoud {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 1.5rem 1rem;
}

.titel-boeren-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--clr-primary);
}

.titel-boeren-info h2 {
    font-size: 1.4rem;
    color: var(--clr-primary);
    margin: 0;
}

.titel-boeren-info button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.titel-boeren-info svg {
    fill: var(--clr-primary);
}

.boeren-info p {
    width: 100%;
    font-size: 1rem;
    color: var(--clr-text);
}

.boeren-info-fotos {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    overflow: hidden;
}

.boeren-info-fotos img {
    object-fit: cover;
    height: 15vh;
    width: calc(50% - 0.25rem);
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.quiz {
    width: 100%;
    border-top: 0.1rem solid var(--clr-primary);
    padding-top: 1rem;
}

.quiz h3 {
    font-family: bjorn;
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--clr-primary);
    margin-bottom: 0.5rem;
}

.quiz p {
    font-size: 1rem;
    font-family: roboto;
    font-weight: 300;
    color: var(--clr-text);
}

.quiz-antwoorden {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.8rem;
}

.quiz-antwoorden button {
    background-color: var(--clr-overlay);
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;

    font-family: roboto;
    font-weight: 300;
    color: var(--clr-primary);
    text-align: left;
    font-size: 0.9rem;
    cursor: pointer;
    width: 100%;
    margin: 0;
}

.quiz-antwoorden button.correct {
    background-color: #CBFFA9;
}

.quiz-antwoorden button.fout {
    background-color: #FFA9AA;
}