* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	list-style: none;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav div {
    background-color: #1E3881;
    height: 4em;
    color: white;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
}

nav img {
    color: white;
}

nav p {
    font-size: .6em;
}

.onderdelen-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onderdelen-footer img {
    width: 2em;
    height: auto;
    margin: .1em;
    order: -1;
}
