nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #1E3881;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: .5rem .2rem;
}

nav svg {
    fill: white;
}

nav p {
    font-size: .8rem;
    font-family: roboto;
    font-weight: 400;
}

.onderdelen-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onderdelen-footer svg {
    width: 2.2rem;
    height: auto;
    margin: .2em;
    order: -1;
}
