nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: var(--clr-primary);
    color: var(--clr-basic);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: .5rem .2rem;
    z-index: 100;
}

nav svg {
    fill: var(--clr-basic);
}

nav p {
    font-size: .8rem;
    font-family: roboto;
    font-weight: 400;
    color: var(--clr-basic);
}

.onderdelen-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.onderdelen-footer a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onderdelen-footer svg {
    width: 2.2rem;
    height: auto;
    margin: .2em;
    order: -1;
}

.onderdelen-footer a.active p {
    color: yellow;
}

.onderdelen-footer a.active svg {
    fill: yellow;
}

/* desktop */
@media (min-width: 700px) {
    nav {
      bottom: auto;
      left: auto;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: right 0.3s ease;
  
      width: 5rem;
      height: auto;
  
      flex-direction: column;
      justify-content: center;
  
      padding: 0;
      border-radius: 0.5rem 0 0 0.5rem;
      overflow: hidden;
    }

    nav.nav-verschoven {
      right: 20rem;
    }
  
    .onderdelen-footer {
      flex-direction: column;
      gap: 0;
    }
  
    .onderdelen-footer a {
      padding: 1rem 0.5rem;
      width: 5rem;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }
  
    .onderdelen-footer a:nth-of-type(5) {
      border-bottom: none;
    }
}

@media (min-width: 850px) {

    nav.nav-verschoven {
      right: 27rem;
    }
}
