:root {
    /* core colors */
    --clr-primary: #1E3881;
    --clr-overlay: #DDEEFA;
    --clr-text: #2D2D2D;
    --clr-secundary: #1686CE;
    --clr-accent: #77B9E1;
    --clr-basic: #FFFFFF;
    --clr-high-light: #F9C81D;
    --clr-background:#fff;
}

body.dark-mode {
    --clr-primary: #1686CE;
    --clr-overlay: #1686CE;
    --clr-text: #fff;
    --clr-secundary: #1E3881;
    --clr-accent: #3a7fa8;
    --clr-basic: #fff;
    --clr-high-light: #F9C81D;
    --clr-background:#222222;
}
  
/* font */
@font-face {
    font-family: 'amplify';
    src: url(../font/amplify/Amplify.ttf) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'bjorn';
    src: url(../font/bjron/Bjorn-Light.otf) format('woff2');
    font-weight: 200;
}
@font-face {
    font-family: 'bjorn';
    src: url(../font/bjron/Bjorn-Regular.otf) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'bjorn';
    src: url(../font/bjron/Bjorn-Halftone.otf) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'roboto';
    src: url(../font/roboto/Roboto-Light.ttf) format('woff2');
    font-weight: 200;
}
@font-face {
    font-family: 'roboto';
    src: url(../font/roboto/Roboto-Regular.ttf) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'roboto';
    src: url(../font/roboto/Roboto-Medium.ttf) format('woff2');
    font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

button{
    background-color: var(--clr-primary);
    border: none;
    border-radius: .5rem;
    color: var(--clr-basic);
    font-size: 1rem;
    font-family: roboto;
    padding: .6rem 3rem;
    margin: .5rem 0;
}

h1{
    font-family: bjorn;
    font-weight: 300;
    font-size: 2rem;
    color: var(--clr-primary);
}

p{
    font-family: roboto;
    font-weight: 200;
    color: var(--clr-text);
}

/* button filter */
#openFilterBtn,
#openInstellingenBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    transition: background 0.15s;
    margin: 0;
}

#openFilterBtn:hover svg{
    fill: var(--clr-basic);
}

.filter-instellingen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--clr-primary); 
    position: fixed;
    top: 90px;
    left: 10px;
    right: 0;
    z-index: 10;
    width: fit-content;
    border-radius: 0.5rem;
}

/* header nav */
.header-nav{
    background-color: var(--clr-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 5rem;
}

.header-nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-nav img{
    width: 4rem;
    z-index: 4;
}

.header-nav svg{
    fill: var(--clr-basic);
}

/* pop-up style */
.pop-up {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100dvh - 80px);
    overflow-y: scroll;
    overscroll-behavior: contain;
    z-index: 100;
    transform: translateY(100%);
    transition: transform 0.3s ease;

    background-color: var(--clr-background);
}
  
.pop-up[aria-hidden="false"] {
    transform: translateY(0);
}

/* kaart */
#kaart {
    width: 100%;
    height: 85vh;
}

.leaflet-pane {
    z-index: 1 !important;
}
  
.leaflet-top,
.leaflet-bottom {
    z-index: 2 !important;
}
  
.verhalen,
.actie,
.impact,
.agenda {
    z-index: 10;
    position: relative;
}

.leaflet-top .leaflet-control {
    margin-top: 80px !important;
}