.kruis-verhalen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    fill: var(--clr-basic);
    margin-top: 2rem;
}

.kruis-verhalen svg {
    fill: var(--clr-basic);
    z-index: 1;
    width: 50px;
}

.titel-verhaal h2 {
    position: relative;
    color: var(--clr-basic);
    z-index: 1;
}

.titel-verhaal p {
    position: relative;
    color: var(--clr-basic);
    z-index: 1;
    padding: 0 1rem;
    margin-bottom: 6.5em;
}

.titel-verhaal > svg:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.button-verhalen {
    background-color: var(--clr-basic);
    color: var(--primary);
    border: 1px solid var(--clr-primary);
    border-radius: 1.2rem;

    width: 8em;
    height: 2vh;

    padding: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    margin: 2rem .7rem 2rem .7rem;
}

.button-svg {
    fill: var(--clr-primary);
    width: 2em;
}

.verhaal-kaart {
    background-color: var(--clr-overlay);
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    padding: 1em;
    margin-bottom: 2em;
    z-index: 1;
    width: 95vw;
    height: auto;
    justify-self: center;
    align-self: center;
}

.verhaal-kaart h3 {
    font-family: amplify;
    font-weight: 200;
    color: var(--clr-secundary);
    font-size: 2.2em;
}

time {
    font-family: bjorn;
    font-size: .9em;
    color: var(--clr-primary);
}

.verhaal-foto {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.verhaal-kaart img {
    z-index: 0;
}

.verhaal-kaart:nth-of-type(2) {
    margin-bottom: 6em;
}